.card{
    border: 1px solid;
    width: 30%;
}

#cardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkbox-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}